body {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(-50deg, #000000, #ffffff, #000000);
  min-height: 100vh;
  margin: 0;
}

#container {
  background: linear-gradient(90deg, rgb(94, 94, 94),white, white,white, rgb(118, 118, 118));
  width: 80%;
  max-width: 900px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

#myForm {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-bottom: 6px;
}

input {
  padding: 8px 5px;
  border: none;
  background: transparent;
  border-bottom: 2px solid black;
  font-size: 1rem;
  outline: none;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  font-size: large;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(93, 93, 93), #ffffff, rgb(87, 87, 87));
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

textarea{
  border-radius: 10px;

}



button:hover {
  transform: scale(1.05);
    background: linear-gradient(50deg, rgb(255, 255, 255), rgb(129, 129, 129), rgb(129, 129, 129), white);
}
