
/* 


and js features 
*/

body{
  margin: 0;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  justify-content: center;
  
}

#video
{
  min-width: 100%;
  min-height:100%;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;

}

#container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#myH2{
  background: transparent;
  display: inline-block;
  box-shadow: 0px 5px 5px 5px black;
  border-radius: 10px;
}


#main
{
  background-color: rgba(246, 242, 216, 0.5);
 padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 150%;
}


#profile
{
  display: flex;
  justify-content: center;
 
}

#profileImg{
 border-radius: 50%;
 width: 118px;
 height: 118px;
 object-fit: cover;

}

#links 
{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1px;
}

#discordLink, #spotifyLink, #twitchLink
{
  width: 50%;

}

#discordLink:hover, #spotifyLink:hover, #twitchLink:hover
{ 
  width: 52%;
}

